/*estilos generales de lapagina*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    width: 100%;
    margin: auto;
}
/*Navbar*/
nav {
    background:linear-gradient(to bottom right, rgb(200, 222, 236), white);
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 100;
    margin: 0%;
}
nav .enlace .logo {
    position:relative;
    padding: 0px 0px;
    height: 100%;
    margin: 0%;
}
nav .enlace .idioma {
    position:relative;
    height: 60%;
    margin: auto;
}
nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
}
li a:active,
li a:hover {
    background: #000090;
    transition: .5s;
    color: #fff;
}
/*FIN DE NAV**/

/*iNICIO FOOTER*/
.contenedorcontacto {
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 100;
    margin: auto;
    bottom: 0%;
    display: flex;
    justify-content: center;
    background:linear-gradient(to bottom right, rgb(200, 222, 236), white);
}
/*FIN DE FOOTER**/
.imgmodal{
    width: 90%;
    height: 90%;
    margin: auto;
    padding: 0%;
 }
.contacto {
    width: 40%;
    height: 100%;

}
.contacto img {
    width: 20%;
    height: 70%;
    border-radius: 85%;
    box-shadow: 3px 5px 5px rgb(190, 81, 81);
    position:relative;
    justify-content: center;
  margin-left: 35%;
  margin-top: 3%;
}
.contacto img:hover{
    box-shadow: 5px 1px 5px 0px rgb(66, 237, 53);
}
 /**fin de footer/
 /*revisar  ->*/
 /**cada cuadro de mis habilidades. podria ponerle un border  en mov**/
.front {
    border: #000022;
    border-style: solid;
    width: 80%;
    padding: 1%;
    margin: 2%;
    text-align: center;    
}
.aidioma {
    position: absolute;
    margin: 0px 100px;
}
.habilidadesmp {
    width: 20%;
    height: 15%;
    margin: 1%;
    padding: 0%;
}
/* fin nuevo */


.containergeneral {
    width: 100%;
    margin: auto;

}
.contenedorsecciones {
    width: 70%;
    justify-content: center;
    margin: auto;
    z-index: -1;
    background-color: rgb(255, 255, 255);
}
.general {
    justify-content: center;
    margin: 0 auto;
    text-align: justify;
    height: 100%;
}
.secciones {
    display: flex;
    position: relative;
    background: url(img/fondo_portafolio.jpg);
    text-align: center;
    align-content: center;
    text-decoration-style: double;
    color: white;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    height: 100%;
    margin: auto;
    padding-top: 8%;
}
.contenedor1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin: auto;
    width: 100%;
}
.minicontent {
    height: 80%;
    width: 53%;
    color: blue;
}
#title {
    width: 72%;
    background-color: rgba(248, 248, 248, 0.329);
    color: rgb(241, 241, 241);
}
.secciones a img {
    width: 80%;
    background-color: rgba(248, 248, 248, 0.329);
    color: rgb(241, 241, 241);
    border-radius: 50%
}
.icono {
    width: 100%;
    height: 3%;
    float: right;
    align-items: flex-end;
}
.secciones h2 {
    width: 100%;
    background-color: rgba(248, 248, 248, 0.329);
    color: rgb(241, 241, 241);
}

.secciones a {
    width: 2%;
    height: 105%;
    background-color: rgba(248, 248, 248, 0.329);
    color: rgb(241, 241, 241);
}

.secciones a img {
    width: 100%;
    background-color: rgba(248, 248, 248, 0.329);
    color: rgb(241, 241, 241);
} 
.imgintro {
    border-radius: 70%;
    height: 80%;
    width: 80%;
}

.photo {
    margin-left: 28%;
    margin-top: 11%;
    margin-right: 0%;
    margin-bottom: 5%;
    justify-content: end
}
.contenedor {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
}
.name {
    margin-top: 20%;
    margin-bottom: 7%;
    text-align: left;
    justify-content: left;
    margin-left: 0%;
}
#title {
    background-color: rgba(0, 0, 0, 0.459);
}
.sobremi {
    padding: 02%;
    height: 100%;
    width: 60%;
}


.contenedor {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
}

.contproyectos {
    width: 78%;
    margin: auto;
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 100%;
}
/* .contenedor {
    width: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 5%;
} */

.contproyectos1 {
    width: 100%;
    margin: auto;
    margin-bottom: 5%;
    height: 100%;
}
.minicontent {
    height: 80%;
    width: 60%;
    color: blue;
    justify-content: center;
}

.habilidades {
    width: 13%;
    height: 2%;
    margin: 1%;
    padding: 0%;
}
.habilidadesp {
    width: 15%;
    height: 5%;
    margin: 1%;
    padding: 0%;
}

.dg {
    width: 13%;
    height: 13%;
    margin: 1%;
}
.marketing {
    width: 100%;
    height: 40%;
}
.minicontent h2 {
    margin-left: 15%;
    margin-right: 5%;
    margin-bottom: 5%;
}
.contenedor figure {
    position: relative;
    height: 250 px;
    width: 350 px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: opx 15px 25px rgba(0, 0, 0, 0.50);
    cursor: pointer;
}
.contenedor figure img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}
.contenedor figure .capa {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background: rgba(11, 103, 123, 0.6);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.contenedor figure:hover>.capa {
    opacity: 1;
    visibility: visible;
}

.contenedor figure:hover>.capa h3 {
    margin-top: 70 px;
    margin-bottom: 15 px;
}

.contenedor figure .capa h3 {
    color: beige;
    font-weight: 400;
    margin-bottom: 120 px;
    transition: all 500 ease-out;
    margin-top: 30 px
}

.contenedor figure .capa p {
    color: white;
    font-size: 15 px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}

.contenedor figure:hover>img {
    transform: scale(1.3);
}

.contenedor .capa a .logospequeños {
    width: 17%;
    height: 17%;
}

.contenedor .capa a .logospequeño1 {
    width: 38%;
    height: 38%;
}

.desarrollop {
    height: 100%;
    justify-content: center;
}

.modal-container {
    position: fixed;
    visibility: hidden;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.modal-containerG {
    position: fixed;
    visibility: hidden;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.modal-containerA {
    position: fixed;
    visibility: hidden;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.modal-containerjs {
    position: fixed;
    visibility: hidden;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.modal-containerj8 {
    position: fixed;
    visibility: hidden;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.modal-container6 {
    position: fixed;
    visibility: hidden;
    z-index: 1000;
    width: 90%;
    height: 90vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.modal-container7 {
    position: fixed;
    visibility: hidden;
    z-index: 1000;
    width: 90%;
    height: 90vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.cta {
    display: inline-block;
    padding: 0%;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: #283773;
    background: #fff;
}

.ctag {
    display: inline-block;
    padding: 0%;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: #283773;
    background: #fff;
}

.ctaa {
    display: inline-block;
    padding: 0%;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: #283773;
    background: #fff;
}
.ctajs {
    display: inline-block;
    padding: 0%;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: #283773;
    background: #fff;
}
.ctaj8 {
    display: inline-block;
    padding: 0%;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: #283773;
    background: #fff;
}
.cta6 {
    display: inline-block;
    padding: 0%;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: #283773;
    background: #fff;
}
.cta7 {
    display: inline-block;
    padding: 0%;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    color: #283773;
    background: #fff;
}
.close {
    color: rgb(3, 3, 3);
    background-color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeA {
    color: rgb(3, 3, 3);
    background-color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.closeG {
    color: rgb(3, 3, 3);
    background-color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.closejs {
    color: rgb(3, 3, 3);
    background-color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.closej8 {
    color: rgb(3, 3, 3);
    background-color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.mark2 {
    padding-top: 3%;
    width: 20%;
    height: 20%;
    float: left;
}

.mark1 {
    padding-top: 3%;
    width: 20%;
    height: 20%;
    float: right;
}

.profesional {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: auto;
    margin-bottom: 5%;
}

.profesional img {
    width: 85%;
    height: 40%;
    border: 6px solid rgb(241, 232, 99);
    border-radius: 5%;

}

.botondescargar {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 100%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}




.icono a img {
    width: 100%;
    height: 100%;
    float: right;
}


.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.8em;
}

#particles-js {
    width: 100%;
    height: 100%;
    background-color: #080808e0;
    position: fixed;
    margin: auto;
    background-repeat: no-repeat;
    z-index: -1;
}


.checkbtn {
    font-size: 20px;
    float: right;
    line-height: 80px;
    margin-right: -100px;
    margin-left: 0%;
    cursor: pointer;
    display: none;
    margin-top: -1%;
}

.checkbtn img {
    width: 20%;
    height: 20%;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    body {
        font-size: 40%;
    }

    .enlace {
        padding-left: 20px;
    }

    nav ul li a {
        font-size: 16px;
    }

    .photo {
        margin-left: 28%;
        margin-top: 35%;
        margin-right: 0%;
        margin-bottom: 5%;
        justify-content: end
    }

    .name {
        margin-top: 37%;
        margin-bottom: 7%;
        text-align: left;
        justify-content: left;
        margin-left: 0%;
    }
}

@media (max-width: 858px) {
    html {
        font-size: 40%;
    }

    .photo {
        margin-left: 28%;
        margin-top: 35%;
        margin-right: 0%;
        margin-bottom: 5%;
        justify-content: end
    }

    .name {
        margin-top: 37%;
        margin-bottom: 7%;
        text-align: left;
        justify-content: left;
        margin-left: 0%;
    }

    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 35%;
        height: 100vh;
        background: #6ea6d4;
        top: 80px;
        left: -100%;
        text-align: left;
        transition: all .5s;
        padding: 0%;
        margin: 0%;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
        padding: 0%;
    }

    nav ul li a {
        font-size: 180%;
        padding: 0%;
        margin: 0%;
    }

    #check:checked~ul {
        left: 0;
    }

    #nav:checked ul {
        left: -100;
    }
    .imgmodal{
        width: 100%;
        height: 80%;
        margin: auto;
    }
}
